<style type="text/css">

html {
	height: 100%;
	min-height: 100%;
}

body {
	height: 100%;
/*	background: #4575a5;*/
	/*background: linear-gradient(to bottom right, #5585b5, #000040);	*/
    background-image: url("/img/bg50.jpg");	
 background-size: cover;
  color: #88f;
}

h1 {
  font-weight: bold;
  color: #c0c0ff;
  font-size: 36px;
    font-family: 'Lucida Console';
}

h2 {
  font-weight: bold;
  color: #c0c0ff;
  font-size: 18px;
    font-family: 'Lucida Console';
}

.btnstyle {
  color: #00f
  background: #2020f0;
  border: 1px solid #8080f0;
  font-weight: bold;
}

#submit {
    background-color: #255585;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #4575a5;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
	padding: 3px;
	margin-right: 5px;
}

#submit:hover {
    border: none;
    color: #fff;
	background: linear-gradient(#faa, #f50);	
    box-shadow: 0px 0px 1px #777;
}

#tdborder { 
	    border: 2px solid;
    border-radius: 10px;	
}

label.formstyle {
	width : 200px;
}

form.imagetable {
/*   border: 2px solid;
    border-radius: 10px;	
	*/
/*	background: linear-gradient(#255585, #154575);	*/
	background: linear-gradient(#255585, #053565);	
	
	font-family: verdana,arial,sans-serif;
	font-size:16px;
	color:#359095;
	width: 500px;
	padding: 8px; 
	border-width: 1px;
	border-color: #d0d0d0;
	border-collapse: collapse;
}

/*
table {
    border-collapse: separate;
    border-spacing: 0 1em;
}
*/


table.imagetable {
/*	
	    border: 2px solid;
    border-radius: 10px;	
	*/
	/*
    border: solid;
    border-radius: 10px;	
	border-width: 0px;
	*/
	font-family: verdana,arial,sans-serif;
	font-size:16px;
	color:#359095;
    border-collapse: separate;
    border-spacing: 0 .5em;
/*	border-collapse: collapse; 
for borders
*/
}

table.imagetable th {
	background: linear-gradient(#f0f0f0, #a0a0a0);	
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

/*
.rounded { 
    -moz-border-radius: 15px; 
    border-radius: 15px; 
	border-top-color: #000080;	
	border-left-color: #000080;	
	border-right-color: #8080ff	;
	border-bottom-color: #8080ff;
}
*/
/*
.row  {
    border-radius: 10px;	
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	background: linear-gradient(#255585, #154575);	
	
    border: 0;
	padding: 8px;
	border-width: 1px;
	border-style: solid;7
	border-top-color: #000080;	
	border-left-color: #000080;	
	border-right-color: #8080ff	;
	border-bottom-color: #8080ff;
}
*/

.highlight { 
	background: linear-gradient(#b52525, #950000);	
}

tr {
	background: linear-gradient(#255585, #053565);	
	/*
	for borders
    border: solid;
	border-width: 1px;
    border-collapse: separate;
	
	border-top-color: #000080;	
	border-left-color: #000080;	
	border-right-color: #b0b0ff	;
	border-bottom-color: #b0b0ff;
	*/
}
td:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
td:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
th:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
th:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }

td {
	padding: .5em;
	/*
	border-top-color: #000080;	
	border-left-color: #000080;	
	border-right-color: #8080ff	;
	border-bottom-color: #8080ff;
	*/
}
/*
table.imagetable td {
	background-color: transparent;
	border: none;
    padding-top: .5em;
    padding-bottom: .5em;	
}
*/
</style>