<!DOCTYPE html>
<html>
<head>
<!--<link href="css/styles.css" rel="stylesheet" />-->
</head>
<!--{{template "_head.html" .Title}}-->
<body>

{{template "_styles.html" .}}

<h1>Contact {{.Company}}</h1>
<h2>{{.Title}}</h2>

<a id="submit" href="/">Back to Home</a><br>
<br>
<table>
<tr>
<td  id="tdborder">
<form class="imagetable" action="/save/{{.Title}}" method="POST">
	<div>
		Company:<br>
		<input type="text" name="company" value = {{.Company}}>
		<br>
		Contact:<br>
		<input type="text" name="contact"  value = {{.Contact}}>
		<br>
		Phone:<br>
		<input type="text" name="phone" value = {{.Phone}}>
		<br>
		Email:<br>
		<input type="text" name="email" value = {{.Email}}>
		<br>
		Logo:<br>
		<select type="text" name="logo" value = {{.Logo}}}>
		{{range .Logos}}
		  <option value="{{.}}">{{.}}</option>
		{{end}}
		<!--
		  <option value="cactus.png">cactus.png</option>
		  <option value="davidson.png">davidson.png</option>
		  <option value="adaps.png">adaps.png</option>
		  <option value="synergy.png">synergy.png</option>
		-->
		</select>			
		<br>
		Notes:<br>
	<textarea name="body" rows="{{.BodyRows}}" cols="60" >{{printf "%s" .Body}}</textarea>
	</div>
	<div>
	<input id="submit" type="submit" value="Save">
	</div>
</form>
</td>
<td id="tdborder">
<h2>Applications</h2>

<table class="imagetable">
  <tr>
	<th>Position</th>
	<th>Company</th>
    <th>Date Applied</th>
    <th>Followup</th>
    <th>Action</th>
    <th>Edit</th>
  </tr>

  {{range .Applications}}
  <tr class="{{.Attention}}">
    <td>{{.Position}}</td>
    <td>{{.Company}}</td>
    <td>{{.DateApplied}}</td>
    <td>{{.Followup}}</td>
    <td>{{.Action}}</td>
	<td><a id="submit" href="/application/{{.Title}}">Edit</a><a id="submit" href="/delete/{{.Title}}">Delete</a> </td>
<!--    <td><a href="/application/{{.Title}}"><img src="/img/arrow-right-c.png" alt=" " height="24" width="24">&nbsp;</a> <a href="/delete/{{.Title}}"><img src="/img/trash-a.png" alt=" "  height="24" width="24"></a></td>-->
  </tr>
  {{end}}
</table>
<br>
<a id="submit" href="/application/{{.Add}}">Add application
<!--	<img src="/img/android-add.png" alt="Add new application"  height="24" width="24">-->
</a>
</td>
</tr>
</table>

</body>
</html>